  .heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
  }

  .heading_div
  {
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
    width: 500px;
  }

  .heading_div2
  {
    font-size: 18px ;
  }

  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }

  .result_para_tag span
{
  white-space: pre-line;
}

.copy_right_footer
{
  position: fixed;
  color: white;
  background-color: black;
  font-family: cursive;
  bottom: 0;
  width: 100%;
  line-height:3px;
  text-align: center;
}

canvas
{
  border: 5px double black;
  border-radius: 20px;
  box-shadow: 5px 5px 5px darkorange;
  margin-top: 160px;
}
 